<ion-header>
  <ion-toolbar>
    <ion-title>notificacione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/inicio">
        <ion-icon name="home-outline"></ion-icon>
<!--           <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge> -->
      </ion-tab-button>
      <ion-tab-button tab="speakers">
        <ion-icon name="notifications-outline" routerLink="/notificacione"></ion-icon>
        
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="person-circle-outline" routerLink="/perfil"></ion-icon>
      
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
