<ion-content>
  <div class="superior">
    <img class="imgsuperior" src="assets/registro/registro.png">
    <h1>Mi perfil</h1>
    <hr>
  </div>
  <div class="paginaperfil">
    
    <img class="imgperfil" src="assets/perfil/Don.jpeg">
  
    <p>Facultad de ingenieria</p>
    <p>Carrera Ingenieria de sistemas</p>
    <p>Sexo: Nunca</p>
    <h1>Cuenta</h1>
    <p>+591 32323232</p>
    <p>jose.guzman@uab.edu.bo</p>
    <p>****</p>

  </div>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule" routerLink="/inicio">
          <ion-icon name="home-outline"></ion-icon>
<!--           <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge> -->
        </ion-tab-button>
        <ion-tab-button tab="speakers">
          <ion-icon name="notifications-outline" routerLink="/notificacione"></ion-icon>
          
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="person-circle-outline" routerLink="/perfi"></ion-icon>
        
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  
</ion-content>