<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="superior">
  <img src="assets/login/UniversidadAdventista.png">

</div>
<div class="contenidologin">

  <h1>Iniciar sesion</h1>
  <p>Antes de usar esta aplicacion por favor inicia sesion para continuar primero</p>
  <input type="text" id="usuario" placeholder="Usuario"><br>
  <input type="password" id="contrasenea" placeholder="Contraseña"><br>
</div>
<div class="botons" >
  <button routerLink="/inicio">Iniciar sesion</button>
  <br>
  <br>
  <a routerLink="/registro">Crear una cuenta</a>
  
</div>


</ion-content>