ion-content {
    background-color: #f8f8f8;
    color: #4d4645;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  img{
    width: 100%;
  }
  h1{
    font-size: 34px;
  }
  p{
    font-size: 14px;
  }
  a{
    color: #4d4645;
  
  }
  input{
    background-color: white;
    border: 0px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
    padding: 10px;
    width: 100%;
  }
  button{
    background-color: #003264;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
  }
  .superior{
    margin: 0px;
  }
  .contenidologin{
    
    margin: 0px;
  
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-bottom: 150px;
  
  }
  .botons{
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    text-align: center;
  
  }