<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="superior">
  <img src="assets/login/UniversidadAdventista.png">

</div>
<div class="contenidologin">

  <h1>Iniciar sesion</h1>
  <p>Antes de usar esta aplicacion por favor inicia sesion para continuar primero</p>
  <form [formGroup]="loginForm" >  
    <input type="text" id="email" placeholder="email" formControlName="email"><br>
    <input type="password" id="password" placeholder="Contraseña" formControlName="password"><br>
    <span *ngIf="mensaje">intodusca bien los datos</span>
  </form>
  </div>
<div class="botons" >
  <ion-button type="submit" [disabled]="!loginForm.valid" (click)="Validar(loginForm.value)" >Iniciar sesion</ion-button>
  <br>
  <br>
  <a routerLink="/registro">Crear una cuenta</a>
  
</div>


</ion-content>