<ion-content>
  <div class="registro">
    <h1>Registrate</h1>
    <div class="nya">
      <input placeholder="Nombre">
      <input placeholder="Apellido"><br>
    </div>


    <input placeholder="Correo electronico"><br>
    <input placeholder="Sepso"><br>
    <input placeholder="Usuario"><br>
    <input placeholder="Contraseña"><br>
    <input placeholder="Repetir Contraseña"><br>
    <div class="botons">
      <button>Registrarme</button><br>
      <a routerLink="/login">¿Ya tienes una cuenta? Inicia sesion</a>
    </div>
  

  </div>

  

</ion-content>